* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    gap: 0;
}

header {
    background: rgb(46, 64, 219);
    color: #000000;
    padding: 20px;
    text-align: center;
}
nav {
    background: rgb(93, 140, 241);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

nav a {
    color: #000000;
    font-weight: bold;
}

main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
 
article {
    background: #bdfafa;
    padding: 12px;
    border-radius: 10px;
}
