table {
width: 100%;
height: 400px;
background-color: #E0FFFF;
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 20px;
}

th {
font-size: 40px;
}